--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
# Other dependencies
fastapi
uvicorn[standard]
gunicorn
python-multipart
groq
chromadb==0.4.24
PyPDF2
python-dotenv
jinja2
sqlalchemy
werkzeug
itsdangerous
numpy<2.0
